/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v24-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v24-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v24-latin-900.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.wrapper-center {
  width: 1060px;
  margin: 0 auto;
}



/* headerbstyle start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 56px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item--link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.header__item--link:hover,
.header__item--link:focus,
.header__item--link:active {
  opacity: 0.75;
}

.header__item {
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

/* header style end */



/* intro style start */
.intro {
  height: 962px;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.intro__title {
  width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  padding-top: 263px;
  margin-bottom: 22px;
}

.intro__subtitle {
  color:#ffffff;
  width: 546px;
  margin-bottom: 59px;
}

.intro__form--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.intro__input {
  background-color: transparent;
  background-image: url("../img/svg/icon-form.svg");
  background-repeat: no-repeat;
  background-position: left 4px;
  background-size: 20px;
  border: 0;
  padding-bottom: 22px;
  padding-left: 43px;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  width: 297px;
  color:#ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.intro__input::placeholder {
  color:#ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.intro__btn--submit {
  width: 171px;
  height: 58px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  background-color: #1B7DFF;
  border: 0;
}

.intro__btn--submit:hover,
.intro__btn--submit:focus {
  background-color: #0563e0;

}

/* intro style end */